.nadpis {
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    background-color: #b4a77eaf;
    border-radius: 15px;
    
}
.body{
    background-color: #e3d9b6;
    
    
}
.sidebar {
  background: #ddd;
  width: 200px;
  align-items: flex-end;
  display: flex;
  align-content: center;
  border-radius: 40px;

}
.footer {
    display: flex;
    font-size: 15px;
    align-items: flex-end;
    justify-content: center;
    background-color: #b4a77eaf;
    align-self: flex-end;
    border-radius: 15px;
   
}

.clanek {background-color:#b4a77eaf; 
    

}
.IMG {
    display: flex;
    justify-content: center;
    align-content: center;
    
    
}
.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #b4a77eaf;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.clanek-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
    
}

.vyhody{
    border-radius: 15px;
    margin: 10px;
}